<footer class="site-footer">

  <div class="wrapper">
      <div class="footer-col-wrapper">
          <div class="footer-col footer-col-1">
            {% include icon-rss.html %}
            </div>


          {% if site.github_username %}
          <div class="footer-col footer-col-2">
            {% include icon-github.html username=site.github_username %}
            </div>
          {% endif %}

          {% if site.twitter_username %}
          <div class="footer-col footer-col-3">
            {% include icon-twitter.html username=site.twitter_username %}
        </div>
          {% endif %}

    </div>

  </div>

</footer>
